body {
    background-image: linear-gradient(92deg, #8970eb 10%, #320272e0 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
}
.heading {
    position: relative;
    display: inline-block;
    text-align: center;
}

.main_header {
    text-align: center;
}



.BUTTON:hover {
    background: black;
    cursor: pointer;
    color: white;
}

#portal {
    font-size: 300%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(33, 166, 223);
}

#book-form {
    display: grid;
    padding: 1em;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    box-shadow: 0 0 20px 6px #090b6f85;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 31px;
}

p {
    grid-column: 2;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

form input {
    background: #fff;
    border-radius: 7px;
    transition: 0.25px;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
    border-radius: 10px;
    transition: 0.25px;
}

form button:hover {
    background: black;
    cursor: pointer;
    color: white;
}


label {
    padding: 0.5em 0.5em 0.5em 0;
    color: white;
    font-size: 18px;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 3px solid #0367fd;
}

fieldset {
    grid-column: 2 / 2;
}

textarea {
    grid-column: 2 / 2;
    height: 100px;
    border-radius: 7px;
    transition: 0.25px;
}

textarea:focus {
    outline: 3px solid #0367fd;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    select {
        background: #ffff;
        border: 1px solid #9c9c9c;
        grid-column: 2/2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;

    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

}